body{
  background-color: white; 
  margin: 0px;
  }
h1 {
  margin: 0px;
  text-align:center;
  color: #ffffff;
}
h3 {
  margin: 4px 0px 0px 0px;
  text-align: center;
  color: #ffffff;
}
h5 {
  margin: 0px;
  text-align: center;
  color: #ffffff;
}
.texto {
  margin: 0px;
  font-size: large;
  padding: 7px;
  width: 70%;
  margin: 0px;
  display: inline-block;
  border: 1px solid #0aa3a3;
  border-radius: 15px;
  box-sizing: border-box;
}

.boton {
  margin: 0px 0px 5px 0px;
  padding: 7px;
  font-size:large;
  width: 70%;
  background-color: #1f046d;
  color: rgb(255, 255, 255);

  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.boton:hover {
  background-color: #3209ae;
}

.fondo{
  font-size: larger;
  text-align:center;
  border-radius: 5px;
  border-style: none;
  background-color: #2c58e7;
  padding: 20px;
  border: none;
  width: 40%;
  margin: 70px auto;
}

.enlace{
  padding: 7px;
  width: 67%;
  margin: 0px;
  display: inline-block;
  background-color: white;
  border-style: none;
  border-radius: 15px;
}